@media screen and (max-width: 1140px) {
    .Feature_image{
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .text h1 {
        font-size: 60px;
    }
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .services {
        grid-template-columns: repeat(3,1fr);
    }
    .category{
        grid-template-columns: repeat(2,1fr);
    }
    .list{
        grid-template-columns: repeat(3,1fr);
    }
    .about{
        grid-template-columns: repeat(2,1fr);
    }
    .trumcards{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }
    .Feature_image{
        display: none;
    }
    .imgcard{
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .footer-content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}


@media screen and (max-width: 720px) {
    .text h1 {
        font-size: 50px;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    ul {
        gap: 20px;
    }
    .services {
        grid-template-columns: repeat(2,1fr);
    }
    .category{
        grid-template-columns: 1fr
    }
    .list{
        grid-template-columns: repeat(2,1fr);
    }
    .about{
        grid-template-columns: 1fr;
    }
    /* .image img{
        display: none;
    } */
    .imgs{
        display: none;
    }
    .footer-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
   
}

@media screen and (max-width: 500px) {
    .image img{
        display: none;
    }
    .header {
        flex-direction: column;
        gap: 20px;
    }
   
    .text h1 {
        font-size: 40px;
    
    }
    .cards {
        grid-template-columns: 1fr;
    }
    ul {
        flex-direction: column;
        gap: 10px;
    }
    .image img{
        width: 0%;
    }
    .services {
        grid-template-columns: 1fr;
    }
    .imgcard img{
       
    }
    .category{
        grid-template-columns: 1fr;
    }
    .list{
        grid-template-columns: 1fr
    }
   
}
@media screen and (max-width: 420px) {
.footer-content{
    display: grid;
    grid-template-columns: 1fr;
}
}

@media screen and (max-width: 360px) {
    .search input {
        padding: 8px;
    }
    .search button {
        padding: 10px;
    }
    .text h1 {
        font-size: 30px;
    }
    .btn {
        padding: 10px;
    }
    .category{
        grid-template-columns: 1fr;
    }
    .footer-content{
        display: grid;
        grid-template-columns: 1fr;
    }
}
